# .gitignore
.env

#Ignore Ds Store
.Ds_Store

#Ignore garbage File
new

#Ignore garbage File
/views/new

/views/chat.ejs
/views/register.ejs
/views/advice.js
/views/comment.ejs
/views/innerFeeds.ejs

